parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Core null coalesce false positive
        - '#Offset 0 on non-empty-list<string> on left side of \?\? always exists and is not nullable#'
